<%= require "pry"; binding.pry %>
<p>Title: <%= search_results.title %></p>
<p>Author: <%= search_results.author %></p>
<p>Genres: <%= search_results.genres %></p>
<% @reviews.each_with_index do |review| %>
  <ul class='book-review'>
    <li class='review'>Review: <%= review[:summary] %></li>
    <li class='review-pub-date'>Review Publication Date: <%= review[:publication_dt] %></li>
  </ul>
<% end %>
